@import '../../../variables/variables';

.chemistry-counter-nav {
  grid-column-end: -1;
  grid-column-start: 1;
  width: 100%;
}

.chemistry-counter-nav__list {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  list-style: none;
  gap: 8px;
}

.chemistry-counter-nav__item {
  width: min-content;
  height: min-content;
}

.chemistry-counter-nav__link {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 40px;
  padding: 8px 16px;
  box-shadow: $standart-box-shadow--medium;
  text-decoration: none;
  color: $standart-text-color;
  background-color: $standart-white;
  transition: all 0.1s ease-in;
  cursor: pointer;

  &:hover {
    box-shadow: $standart-hover-box-shadow--medium;
  }

  &:active {
    box-shadow: $standart-hover-box-shadow--medium;
    opacity: 0.8;
  }

  &--active {
    box-shadow: $standart-hover-box-shadow--medium;
    color: $standart-white;
    background-color: $main-color;
    pointer-events: none;
  }
}
