@import '../../../variables/variables.scss';

.button-reset-remove {
  width: max-content;
  height: min-content;
  background-color: transparent;
}

.button-reset-remove__button {
  padding: 15px 25px;
  cursor: pointer;
  border: 2px solid $error-color;
  border-radius: 15px;

  font-family: $basic-font;
  font-size: 14px;
  font-weight: $standart-subtext-font-weight;

  color: $error-color;
  text-decoration: none;
  text-align: center;
  text-transform: uppercase;

  box-shadow: $standart-box-shadow--large;
  background-color: $white-bg-color;

  &:hover,
  &:focus {
    outline: 0;
    box-shadow: $error-button-shadow;
    background-color: $error-color;
    color: $standart-white;
  }

  &:active {
    transform: translate(0, 4px);
    transition: transform .2s ease, box-shadow .1s ease;
    box-shadow: $error-button-active-shadow;
  }
}
