@import '../../variables/variables';

.chemistry-options-page {
  position: relative;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr min-content;
  width: 100%;
  min-height: 100vh;
}

.chemistry-options-page__main {
  display: flex;
  align-items: flex-end;
  justify-content: center;
  padding: $standart-section-top-padding $standart-section-side-padding;
  padding-bottom: 100px;
  width: 100%;
  height: 100%;
}
