@import '../../variables/variables.scss';

.thing-modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0,0,0, 0.6);

  display: flex;
  justify-content: center;
  align-items: center;
}

.thing-modal__wrap {
  width: 90%;
  max-width: 900px;
  height: min-content;
  background-color: aliceblue;

  padding: 40px 20px;
  border-radius: 10px;

  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  gap: 10px;

  // background: linear-gradient(45deg, #9dc5b6, #d09fd8);
  background: $white-bg-color;
}

.thing-modal__title {
  width: 100%;
  font-family: $basic-font;
  color: $standart-black;
  font-size: $main-title-text-size;
  font-weight: $main-title-font-weight;
  text-align: center;
}

.thing-modal__item {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  gap: 10px;

  padding: 10px;
  border-radius: 15px;

  box-shadow: $standart-box-shadow--medium;
  background-color: $standart-white;
}

.thing-modal__item-name {
  font-family: $basic-font;
  color: $standart-subtext-color;
  font-size: $standart-title-text-size;
  font-weight: $main-title-font-weight;
}

.thing-modal__item-value {
  font-family: $basic-font;
  color: $standart-text-color;
  font-size: $standart-title-text-size;
  font-weight: $standart-title-font-weight;
}

.thing-modal__controls {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 40px;
}
