//fonts
$basic-font: 'Roboto', 'Arial', sans-serif;

//width
$big-screen: 2000px;
$desctope-width: 1200px;
$tablet-width: 900px;
$mobile-width: 550px;

//PADDINGS's-----------
$standart-section-side-padding: 20px;
$standart-section-top-padding: 10px;

//SIZES--------------
$navigation-link-size: 40px;
$counter-back-link-size: 40px;
$overview-item-image-size: 80px;

//FONT SIZES-------------
$main-title-text-size: 28px;
$standart-title-text-size: 17px;
$standart-subtext-size: 11px;

//FONT WEIGHT-------------
$main-title-font-weight: 700;
$standart-title-font-weight: 500;
$standart-subtext-font-weight: 400;

//FONT COLOR----------------
$standart-text-color: #020202;
$standart-subtext-color: #9a9a9a;

//COLORS--------------
$main-color: #3d4584;
$standart-white: #ffffff;
$white-bg-color: #f0f4fd;
//navigation icons colors
$navigation-link-color: #2b2b2b;
$navigation-link-hover-color: #101010;

//SHADOWS--------------------
$standart-box-shadow: 5px 5px 16px #c7cbeb, -5px -5px 16px #ffffff;
$standart-hover-box-shadow: 9px 9px 25px #abafd1, -9px -9px 25px rgb(231, 237, 250);

$standart-counter-nav-shadow: 3px 3px 10px #c7cbeb, -3px -3px 10px #ffffff;
$standart-counter-active-nav-shadow: 6px 6px 20px #abafd1, -6px -6px 20px rgb(231, 237, 250);


//OTHER----------------------
$overview-item-border-radius: 30px;
