//fonts
$basic-font: 'Jost', 'Arial', sans-serif;

//width
$big-screen: 2000px;
$desctope-width: 1200px;
$tablet-width: 900px;
$mobile-width: 600px;

//sizes
$navigation-link-size: 40px;

//COLORS--------------

//background colors
$white-bg-color: #f0f4fd;

//icons colors
$navigation-link-color: #2b2b2b;
$navigation-link-hover-color: #101010;
$navigation-link-active-color: #3d4584;
