@import '../../../variables/variables.scss';

.granulates-counter {
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: min-content 1fr 1fr;
  gap: 10px;
}


