@import '../../../variables/variables';

.counter-added-amount {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px 0;
  width: 100%;
}

.counter-added-amount__label {
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: $basic-font;
  font-weight: $standart-title-font-weight;
  font-size: $standart-title-text-size;
  color: $standart-subtext-color;
  gap: 10px;

  &:focus-within {
    color: $standart-text-color;
  }
}

.counter-added-amount__input {
  appearance: textfield;
  border: none;
  border-radius: 30px;
  padding: 5px 10px;
  width: 60px;
  box-shadow: $standart-box-shadow--medium;
  text-align: center;
  background-color: $standart-white;

  &:hover,
  &:focus {
    box-shadow: $standart-hover-box-shadow--medium;
  }

  &::-webkit-outer-spin-button,
  &::-webkit-inner-spin-button {
    appearance: none;
  }
}
