@import '../../../variables/variables';

.log-item {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
  border-radius: 15px;
  padding: 10px;
  box-shadow: $standart-box-shadow--medium;
  background-color: $standart-white;
  gap: 5px;
}

.log-item__name {
  font-family: $basic-font;
  font-weight: $main-title-font-weight;
  font-size: $standart-subtext-size;
  color: $standart-subtext-color;
}

.log-item__value {
  font-family: $basic-font;
  font-weight: $standart-title-font-weight;
  font-size: $standart-title-text-size;
  color: $standart-text-color;
}
