@import '../../../variables/variables.scss';

.granulates-settings {
  width: 100%;
  height: min-content;
  // padding: 20px;
  gap: 20px;

  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;

  padding: 20px 10px;

  background-color: $standart-white;
  box-shadow: $standart-box-shadow--large;
  border: none;
  border-radius: 30px;

  -moz-appearance: textfield;

  &::-webkit-outer-spin-button,
  &::-webkit-inner-spin-button {
    -webkit-appearance: none;
  }

  &:focus-within,
  &:hover {
    transition: all .2s ease;
    box-shadow: $standart-hover-box-shadow--large;
  }
}

.granulates-settings__title {
  display: flex;
  font-family: $basic-font;
  font-size: $main-title-text-size;
  font-weight: $main-title-font-weight;
  color: $standart-text-color;
  text-align: center;
}

.granulates-settings__form {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items:stretch;
  gap: 10px;
}

.granulates-settings__label {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 10px;
  text-align: left;

  font-family: $basic-font;
  font-size: $standart-title-text-size;
  font-weight: $standart-title-font-weight;
  color: $standart-text-color;

  cursor: pointer;

  &:focus-within {
    // coś trzeba zrobić tu :)
  }
}

.granulates-settings__input {
  width: 60px;

  text-align: center;

  padding: 5px 10px;
  background-color: $standart-white;
  box-shadow: $standart-box-shadow--medium;
  border: none;
  border-radius: 30px;

  -moz-appearance: textfield;

  &:hover,
  &:focus {
    box-shadow: $standart-hover-box-shadow--medium;
  }

  &::-webkit-outer-spin-button,
  &::-webkit-inner-spin-button {
    -webkit-appearance: none;
  }
}
