@import '../../../variables/variables';

.overview-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}

.overview-header__title {
  font-family: $basic-font;
  font-weight: $main-title-font-weight;
  font-size: $main-title-text-size;
  color: $main-color;
}

.overview-header__date {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  font-family: $basic-font;
  font-weight: $standart-subtext-font-weight;
  font-size: $standart-subtext-size;
  color: $main-color;
}
