@import '../../../variables/variables';

.components-overview-item {
  display: grid;
  align-items: center;
  grid-column-gap: 20px;
  grid-row-gap: 10px;
  grid-template-columns: 50px 1fr 100px;
  grid-template-rows: 1fr 30px;
  list-style: none;
  border-radius: 20px;
  padding: 10px;
  background-color: rgb(255 255 255);
}

.components-overview-item__image {
  grid-row-end: -1;
  grid-row-start: 1;
  border-radius: 20px;
  width: 60px;
  height: 60px;
  object-fit: cover;
}

.components-overview-item__info {
  font-family: $basic-font;
  user-select: all;
}

.components-overview-item__title {
  font-family: $basic-font;
  font-weight: $standart-title-font-weight;
  font-size: $standart-title-text-size;
  color: $standart-text-color;
  user-select: all;
}

.components-overview-item__description {
  font-family: $basic-font;
  font-weight: $standart-subtext-font-weight;
  font-size: $standart-subtext-size;
  color: $standart-subtext-color;
  user-select: all;
}

.components-overview-item__firm {
  font-family: $basic-font;
  font-weight: $standart-subtext-font-weight;
  font-size: $standart-subtext-size;
  color: $standart-subtext-color;
  user-select: all;
}

.components-overview-item__amount {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  grid-column-end: 4;
  grid-column-start: 3;
  grid-row-start: 1;
  padding-right: 10px;
  font-family: $basic-font;
  font-weight: $standart-title-font-weight;
  font-size: $standart-title-text-size;
  color: $standart-text-color;
  user-select: all;
}

.components-overview-item__show-logs {
  grid-column-end: -1;
  grid-column-start: 3;
  grid-row-start: 2;
  border: none;
  border-radius: 10px;
  height: 100%;
  background-color: transparent;
  background-color: $white-bg-color;
  cursor: pointer;
}

.logs-overview {
  grid-column-end: -1;
  grid-column-start: 1;
}
