@import '../../variables/variables';

.overview-page {
  position: relative;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr min-content;
  width: 100%;
  min-height: 100vh;
}

.overview-page__main {
  padding: $standart-section-top-padding $standart-section-side-padding;
  padding-bottom: calc($standart-section-top-padding * 3)+ $navigation-link-size;
  width: 100%;
  height: 100%;
}
