@import '../../variables/variables';

.button-block {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-bottom: 20px;
  width: 100%;
  gap: 10px;
}

.standart-button {
  border: none;
  border-radius: 20px;
  padding: 20px 40px;
  width: 100%;
  box-shadow: $standart-button-shadow;
  font-family: $basic-font;
  font-weight: $standart-title-font-weight;
  font-size: $standart-title-text-size;
  color: $standart-white;
  background-color: $main-color;
  transition: transform .3s ease, box-shadow .1s ease;
  cursor: pointer;

  &:hover {
    box-shadow: $standart-button-hover-shadow;
  }

  &:active {
    box-shadow: $standart-button-active-shadow;
    transform: translate(0, 10px);
    transition: transform .2s ease, box-shadow .1s ease;
  }

  &--second-btn {
    width: min-content;
    white-space: nowrap;
    color: $standart-text-color;
    background-color: $standart-white;
    transition: transform .3s ease;
  }
}
