@import '../../variables/variables';

.header {
  position: fixed;
  bottom: 0;
  z-index: 1;
  grid-row-start: 2;
  padding: $standart-section-top-padding $standart-section-side-padding;
  width: 100%;
  background-color: $white-bg-color;
}

.header__wrap {
  display: flex;
  align-items: center;
  justify-content: center;
}
