@import '../../variables/variables.scss';

.header {
  width: 100%;
  padding: 10px 20px;
  background-color: $white-bg-color;

  grid-row-start: 2;

  // position: fixed;
  // z-index: 1;
  // bottom: 0;
}

.header__wrap {
  display: flex;
  justify-content: center;
  align-items: center;
}
