@import '../../variables/variables.scss';

.granulates-page {
  width: 100%;
  min-height: 100vh;

  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr min-content;

  position: relative;
}

.granulates-page__main {
  width: 100%;
  height: 100%;

  padding: $standart-section-top-padding $standart-section-side-padding;
  padding-bottom: calc($standart-section-top-padding * 3)+ $navigation-link-size;
}
