@import '../../../variables/variables';

.chemistry-counter-header {
  padding: $standart-section-top-padding $standart-section-side-padding;
  width: 100%;
  background-color: $white-bg-color;
}

.chemistry-counter-header__wrap {
  display: grid;
  align-items: center;
  grid-template-columns: $counter-back-link-size 1fr;
  grid-template-rows: repeat(2, min-content);
  gap: 10px;
}

.chemistry-counter-header__back-link {
  display: flex;
  align-items: center;
  justify-content: center;
  width: $counter-back-link-size;
  height: $counter-back-link-size;
  text-decoration: none;
  cursor: pointer;
}

.chemistry-counter-header__title {
  font-family: $basic-font;
  font-weight: $main-title-font-weight;
  font-size: $main-title-text-size;
  text-align: right;
  color: $main-color;
}
