.granulates-counter-page {
  width: 100%;
  height: 100%;

  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: min-content 1fr;
}

.granulates-counter-page__main {
  width: 100%;
  height: 100%;
  padding: 10px 20px;
}
