@import '../../variables/variables.scss';

.granulates-counter-page {
  width: 100%;
  height: 100%;

  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: min-content 1fr;
}

.granulates-counter-page__main {
  width: 100%;
  height: 100%;
  padding: $standart-section-top-padding $standart-section-side-padding;
}
