@import '../../variables/variables.scss';

.root-page {
  width: 100%;
  min-height: var(--vh);

  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr min-content;

  position: relative;
}

.root-page__main {
  width: 100%;
  height: 100%;
  padding: $standart-section-top-padding $standart-section-side-padding;
  padding-bottom: calc($standart-section-top-padding * 3)+ $navigation-link-size;
}

.root-page__wrap {
  height: 100%;

  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr min-content;
  gap: 20px;
}

.root-page__list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

.root-page__item {
  list-style: none;
}

.root-page__link {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;

  width: 150px;
  height: 150px;

  background-color: $standart-white;
  text-decoration: none;
  border-radius: 30px;
  box-shadow: $standart-box-shadow--large;
}

.root-page__link-title {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: $standart-white;
  font-size: $main-title-text-size;
  font-weight: $main-title-font-weight;
  z-index: 2;
}

.root-page__link-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 30px;

  filter: blur(2px);
}
