@import '../../../variables/variables';

.counter-set-value {
  display: flex;
  align-items: center;
  justify-content: center;
}

.counter-set-value__label {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-family: $basic-font;
  font-weight: $standart-title-font-weight;
  font-size: $standart-title-text-size;
  color: $standart-subtext-color;
  gap: 20px;

  &--error .counter-set-value__input {
    border-color: red;
  }

  &--success .counter-set-value__input {
    border-color: green;
  }
}

.counter-set-value__message {
  color: rgb(170 5 5);
}

.counter-set-value__input {
  appearance: textfield;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 4px solid transparent;

  // border: none;
  border-radius: 30px;
  padding: 10px;
  width: 300px;
  height: 200px;
  box-shadow: $standart-button-shadow;
  font-weight: bold;
  font-size: 70px;
  text-align: center;
  background-color: $standart-white;

  // transition: all ease-in 0.1s;

  &::-webkit-outer-spin-button,
  &::-webkit-inner-spin-button {
    appearance: none;
  }
}
