@import '../../variables/variables';

.components-settings {
  appearance: textfield;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  border: none;
  border-radius: 30px;
  padding: 20px 10px;
  width: 100%;
  height: min-content;
  box-shadow: $standart-box-shadow--large;
  background-color: $standart-white;

  // padding: 20px;
  gap: 20px;

  &:focus-within,
  &:hover {
    box-shadow: $standart-hover-box-shadow--large;
    transition: all .2s ease;
  }

  &::-webkit-outer-spin-button,
  &::-webkit-inner-spin-button {
    appearance: none;
  }
}

.components-settings__title {
  display: flex;
  font-family: $basic-font;
  font-weight: $main-title-font-weight;
  font-size: $main-title-text-size;
  text-align: center;
  color: $standart-text-color;
}

.components-settings__form {
  display: flex;
  flex-direction: column;
  align-items:stretch;
  justify-content: center;
  width: 100%;
  gap: 10px;
}

.components-settings__label {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  font-family: $basic-font;
  font-weight: $standart-title-font-weight;
  font-size: $standart-title-text-size;
  text-align: left;
  color: $standart-text-color;
  cursor: pointer;
  gap: 10px;

  &:focus-within {
    // coś trzeba zrobić tu :)
  }
}

.components-settings__input {
  appearance: textfield;
  border: none;
  border-radius: 30px;
  padding: 5px 10px;
  width: 60px;
  box-shadow: $standart-box-shadow--medium;
  text-align: center;
  background-color: $standart-white;

  &:hover,
  &:focus {
    box-shadow: $standart-hover-box-shadow--medium;
  }

  &::-webkit-outer-spin-button,
  &::-webkit-inner-spin-button {
    appearance: none;
  }
}
